@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

.App
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}
.info
{
  padding: 0 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photodeprofil
{
  width: 200px;
  height: 200px;
}

.nom
{
  font: 2.5em sans-serif;
  font-weight: bolder;
  font-family: 'Carter One', cursive;
}